body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    margin: 35px 0;
}

button {
    margin: 0 0 20px;
    border: 1px solid rgb(0, 9, 92);
    border-radius: 5px;
    width: 90px;
    height: 30px;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
    color: rgb(0, 9, 92);
    font-size: 16px;
    box-shadow: 2px 2px 5px #000;
}

button:hover {
    color: white;
}

button:active {
    transform: translateY(3px);
    box-shadow: none;
}

#botaoPedra {
    background-color:rgb(226, 166, 166);
}

#botaoPapel {
    background-color: rgb(155, 155, 236);
}

#botaoTesoura {
    background-color: yellow;
}

#resultado {
    font-size: 20px;
    padding-top: 20px;
}

h2 {
    font-family: 'Reggae One', cursive;
    font-size: 25px;
}

.vitoria {
    color: green;
}

.empate {
    color: teal;
}

.derrota {
    color: rgb(253, 39, 1);
}

@media (min-width:1024px) {

    h1 {
        font-size: 25px;
        margin: 65px 0;
    }

    button {
        width: 210px;
        height: 60px;
        border-radius: 15px;
        font-size: 30px;
        border:2px solid;
    }



    #resultado {
        font-size: 30px;
    }

    h2 {
        font-size: 40px;
    }

}